<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-wide w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10%;"><b>NISE LAB</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-right: 10%;">

      <a href="about" class="w3-bar-item w3-button">About</a>
    <a href="people" class="w3-bar-item w3-button">People</a>
      <a href="research" class="w3-bar-item w3-button">Research</a>
      <a href="project" class="w3-bar-item w3-button">Projects</a>
      <a href="teaching" class="w3-bar-item w3-button">Teaching</a>
      <a href="services" class="w3-bar-item w3-button">Services</a>
      <a href="gallery" class="w3-bar-item w3-button">Gallery</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<br>
</div>
</div>
      <footer class="w3-center w3-highway-blue w3-padding-16">
        <p>Contact Us: Science 383, San francisco State University, SF, CA 94132</p>
      </footer>

</body>
</html>
