<!DOCTYPE html>
<html>
<title>NICE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin-left: 0px;
}
#first {
    float: left;
}
#second {
    float: right;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none">NISE LAB</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 5%;">
      <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
      <font size="3">

        <a href="home" class="w3-bar-item w3-button" style="text-decoration:none">Home</a>
        <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
        <a href="project" class="w3-bar-item w3-button" style="text-decoration:none">Projects</a>
        <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Publications</a>
        <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
    </div>
  </div>
</div>
<br>

<div class="container" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="images/Michael.png" alt="Los Angeles" height="250" width="1200">
        <div class="carousel-caption">
          <h3>Seminar</h3>
          <p>Dr. Yue, Micheal and Dr. Wong</p>
        </div>
      </div>

      <div class="item">
        <img src="images/Sapan.png" alt="Chicago" height="250" width="1200">
        <div class="carousel-caption">
          <h3>Graduation</h3>
          <p>Sapan and Dr. Yue</p>
        </div>
      </div>

      <div class="item">
        <img src="images/Lijie.png" alt="New York" height="250" width="1200">
        <div class="carousel-caption">
          <h3>Graduation</h3>
          <p>Lijie and Dr. Yue</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<!-- About Section -->

  <div class="w3-container w3-padding-32" id="contact">


<!-- End page content -->
</div>

</div>


<!-- Footer -->
<footer class="w3-container w3-highway-blue w3-center">
  <p style="font-family:Georgia ,serif ; font-size: 20px; padding-top: 5px;padding-right: 16px;padding-bottom: 3px;padding-left: 16px;  width:100%;
  height:30px;  ">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
</footer>

</body>
</html>
