<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none">NISE LAB</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-right: 10%;">
<a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a>
      <a href="about" class="w3-bar-item w3-button" style="text-decoration:none">About</a>
      <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
      <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Research</a>
      <a href="teaching" class="w3-bar-item w3-button" style="text-decoration:none">Teaching</a>
      <a href="services" class="w3-bar-item w3-button" style="text-decoration:none">Services</a>
      <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
    </div>
  </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div id="about" style="padding: 40px;">
    <h1 style="text-align: center; background : lightgrey"><b><em>Dr. Hao Yue</b></em></h1><hr>
    <div class="col-sm-4"><img src="images/hao.png" alt="House" style="width:70%"></div>
    <div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</p><br>

        <br>
        <br>
        <br>
        <br>

      <div>
        <h1 style="text-align: center; background : lightgrey"><b><em>Contact Information</b></em></h1><hr>
        <h3> Phone: 338-2289</h3>
          <h3>Email: haoyue@sfsu.edu</h3>
            <h1 style="text-align: center; background : lightgrey"><b><em>Contact Information</b></em></h1><hr>
            <h3>Building: Thornton Hall</h3>
              <h3> Room: 930</h3>
                <h3> Office Hours: Mondays, Wednesdays: 11-12pm</h3>
      </div>
          </div>
      <div class="w3-container w3-padding-32" id="contact">


    <!-- End page content -->



</div>

<!-- Footer -->
<footer class="w3-container w3-highway-blue w3-center">
  <p style="font-family:Georgia ,serif ; font-size: 20px; padding-top: 3px;padding-right: 16px;padding-bottom: 3px;padding-left: 16px;  width:100%;
  height:30px;  ">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
</footer>


</body>
</html>
