<!DOCTYPE html>
<html lang="en">
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

#container {
  width: 300px;
  background-color: #ffcc33;
  margin: auto;
}

#first {
  float: left;
}

#second {
  float: right;
}

.w3-top{
  background-color: blue;
}

h2{
  padding-left: 50px;
}

body{
  font-size: 20px;
  font-family: Georgia, serif;
}

.header{
  font-family: Georgia, serif;
}

</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
  <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none">NISE LAB</a>
      <!-- Float links to the right. Hide them on small screens -->
  <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 5%;">
        <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
    <font size="3">
            <a href="home" class="w3-bar-item w3-button" style="text-decoration:none">Home</a>
            <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
            <a href="project" class="w3-bar-item w3-button" style="text-decoration:none">Projects</a>
            <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Publications</a>
            <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
    </font>
    </div>
    </div>
  </div>
  <!-- Header -->
  <br>
  <header class="w3-display-container w3-content w3-wide" style="max-width:2000px;" id="home">
    <img class="w3-image" srcset="images/Steve-Jobs-Quote.jpg" alt="NISE Lab" width="1000" height="1600" maxwidth="100%" style="margin-left : 0%; border: lightgrey; width : 100%;" >
    <h1  style="color:navy;font-size: 30px;text-align : center;letter-spacing: -1px;padding-top:40px;padding-bottom:35px;"><b>Networking, Information Security, and Education (NISE) Laboratory </b></h1>
  <hr></header>



  <!-- Page content -->
  <div style="max-width:1563px">
    <!-- Project Section -->
  <div id="about">

      <h2 style="margin-left:1.5%; font-family: Arial, sans-serif;font-size: 25px;"><b>About</b></h2>
      <p style="padding-left: 70px;padding-right: 50px;font-family:Georgia, serif;font-size: 20px;text-align: justify;text-justify: inter-word;">The Networking, Information Security and Education Laboratory (NISE) was established in 2016 and it is now located at SCI383 in San Francisco State University. The research of NISE Lab focuses on building new protocols and architectures to enhance the performance and security of computer networks and information systems, and building new infrastructures and programs to broaden participation in computing and computer science.</p>
  </div>
<hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <!-- End page content -->
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-highway-blue w3-center">
    <p style="font-family:Georgia ,serif ; font-size: 20px; padding-top: 3px;padding-right: 16px;padding-bottom: 3px;padding-left: 16px;  width:100%;
    height:30px;  ">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
  </footer>

  <!-- Add Google Maps -->

  </body>
  </html>
