<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}

h4{
  font-family: Arial ,Sans-serif;
}
  h2{
    font-family: Georgia, serif;
  }
  h3{
    font-family: Georgia, serif;
  }

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none"><b>NISE LAB</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 10%;">
      <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
      <font size="3">

        <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
        <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Research</a>
        <a href="project" class="w3-bar-item w3-button" style="text-decoration:none">Projects</a>
        <a href="teaching" class="w3-bar-item w3-button" style="text-decoration:none">Teaching</a>
        <a href="services" class="w3-bar-item w3-button" style="text-decoration:none">Services</a>
        <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
    </div>
  </div>
</div>
<br>
<div id="about" style="padding-left: 70px;padding-right: 150px">
  <h3 style="font-family:Georgia, serif;"><b>Faculty</b></h3><hr>
  <div class="col-sm-3"><img src="images/hao.png" alt="House" height="200" width="350" style="width:70%;"></div>
  <div class="col-lg-8">
    <h4><b>Name:</b> Hao Yue<h4>
          <h4><b>Email: </b>haoyue@sfsu.edu<h4>
          <h4><b>Phone: </b>338-2289<h4>
          <h4><b>Research Area: </b>Wireless and Mobile Networking, Cyber-Physical Systems, Cybersecurity<h4>
          <h4><b>Office: </b>TH930<h4>
          <h4><b>Office Hours: </b>Monday, Wednesday: 11:00 am - 12:00 pm  <h4>

    </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <div id="about">
      <h3 style="font-family:Georgia, serif;"><b>Students</b></h3><hr>
              <div class="col-sm-3"><img src="images/savan.png" alt="House"height="200" width="350" style="width:70%;"></div>
              <div class="col-lg-8"><h4><br><b>Name:</b> Savan Patel<h4>
                <h4><b>Research Area: </b>Spam Detection on Social networks<h4>
                    <h4><b>Email: </b>spatel17@mail.sfsu.edu<h4>
                            <h4><b>Graduate/ Undergarduate: </b>Graduate Student <h4></div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>



              <div class="col-sm-3"><img src="images/krunal.png" alt="" height="200" width="350"style="width:70%;"></div>
              <div class="col-lg-8"><h4><br><b>Name:</b> Krunal Shah<h4>
                <h4><b>Research Area: </b>Human Dynamic Monitoring System using Machine Learning<h4>
                    <h4><b>Email: </b>kshah3@mail.sfsu.edu<h4>
                            <h4><b>Graduate/ Undergarduate: </b>Graduate Student <h4></div>


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <div class="col-sm-3"><img src="images/gayatri.jpg" alt="" height="200" width="350"style="width:70%;"></div>
                <div class="col-lg-8"><h4><br><b>Name:</b> Gayatri Pise<h4>
                  <h4><b>Research Area: </b>Machine Learning, Neural Networks<h4>
                      <h4><b>Email: </b>gpise@mail.sfsu.edu<h4>
                              <h4><b>Graduate/ Undergarduate: </b>Graduate Student <h4></div>


                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>


                  <div class="col-sm-3"><img src= alt="" height="200" width="350"style="width:70%;"></div>
                  <div class="col-lg-8"><h4><br><b>Name:</b> Aishwarya Laturkar<h4>
                    <h4><b>Research Area: </b> <h4>
                        <h4><b>Email: </b>alaturkar@mail.sfsu.edu<h4>
                                <h4><b>Graduate/ Undergarduate: </b>Graduate Student <h4></div>


                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>





<div id="about">
  <h3 style="font-family:Georgia, serif;"><b>Alumini</b></h3><hr>
  <div class="col-sm-3"><img src="images/nise.png" alt="" style="width:50%;"></div>
  <div class="col-lg-8">
    <h4><b>Name:</b><h4>
    <h4><b>Research Area:</b><h4>
      <h4><b>Graduate/ Undergraduate:</b><h4>
        <h4><b>Email:</b><h4>
</div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>
<br>
</div>
</div>

<footer class="w3-center w3-highway-blue w3-padding-16">
  <p style="font-family:Arial ,Sans-serif">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
</footer>

</body>
</html>
