<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}

#first {
    float: left;
}

#second {
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
  font-size: 20px;
}


h2{
    font-family: Georgia, serif;
  }

</style>
<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-highway-blue">
    <div class="w3-bar w3-padding w3-card">
      <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none; font-family: Georgia, serif;">NISE LAB</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 5%;">
        <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
        <font size="3">

          <a href="home" class="w3-bar-item w3-button" style="text-decoration:none; font-family: Georgia, serif;">Home</a>
          <a href="people" class="w3-bar-item w3-button" style="text-decoration:none; font-family: Georgia, serif;">People</a>
          <a href="project" class="w3-bar-item w3-button" style="text-decoration:none; font-family: Georgia, serif;">Projects</a>
          <a href="research" class="w3-bar-item w3-button" style="text-decoration:none; font-family: Georgia, serif;">Publications</a>
          <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none; font-family: Georgia, serif;">Gallery</a>

      </div>
    </div>
  </div>


<br>
<div id="about" style="padding-left: 70px;padding-right: 150px">
  <h3 style="padding-bottom: 10px;font-family: Arial, sans-serif;font-size: 25px;"><b>Faculty</b></h3>
  <div class="col-sm-3"><img src="images/hao.png" alt="House" height="170" width="320" style="width:70%;"></div>
  <div class="col-lg-16">
    <h4 style="font-family:Georgia, serif;"><b>Name:</b> Dr. Hao Yue<h4>
    <h4 style="font-family:Georgia, serif;"><b>Title: </b> Assistant Professor <h4>
    <h4 style="font-family:Georgia, serif;"><b>Research Area: </b>Wireless and Mobile Networking, Cyber-Physical Systems, Cybersecurity<h4>
    <h4 style="font-family:Georgia, serif;"><b>Office: </b>TH930<h4>
    <h4 style="font-family:Georgia, serif;"><b>Email: </b>haoyue@sfsu.edu<h4>
    <h4 style="font-family:Georgia, serif;"><b>Web Page : </b><a href="http://unixlab.sfsu.edu/~haoyue/index.htm">http://unixlab.sfsu.edu/~haoyue/index.htm </a><h4>

    </div>

      <br>
      <br>


      <div id="about">
        <h3 style="padding-bottom: 10px;font-family: Arial, sans-serif;font-size: 25px;"><b>Students</b></h3>
              <div class="col-sm-3"><img src="images/savan.png" alt="House"height="150" width="300" style="width:70%;"></div>
              <div class="col-lg-8" style="font-family:Georgia, serif;"><h4 style="font-family:Georgia, serif;"><br><b>Name:</b> Savan Patel<h4>
                <h4 style="font-family:Georgia, serif;"><b>Title: </b>Master Student<h4>
                <h4 style="font-family:Georgia, serif;"><b>Research Project: </b>Spam Detection on Social networks<h4>
                <h4 style="font-family:Georgia, serif;"><b>Email: </b>spatel17@mail.sfsu.edu<h4>
                </div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                  <div class="col-sm-3"><img src="images/krunal.png" alt="House"height="150" width="300" style="width:70%;"></div>
                  <div class="col-lg-8" style="font-family:Georgia, serif;"><h4 style="font-family:Georgia, serif;"><b>Name:</b> Krunal Shah <h4>
                    <h4 style="font-family:Georgia, serif;"><b>Title: </b>Master Student<h4>
                    <h4 style="font-family:Georgia, serif;"><b>Research Project: </b>Human Dynamic Monitoring System using Machine Learning<h4>
                    <h4 style="font-family:Georgia, serif;"><b>Email: </b>kshah3@mail.sfsu.edu<h4>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>


                    <div class="col-sm-3"><img src="images/gayatri.png" alt="House"height="150" width="300" style="width:70%;"></div>
                    <div class="col-lg-8" style="font-family:Georgia, serif;"><h4 style="font-family:Georgia, serif;"><b>Name:</b> Gayatri Pise <h4>
                      <h4 style="font-family:Georgia, serif;"><b>Title: </b>Master Student<h4>
                      <h4 style="font-family:Georgia, serif;"><b>Research Project: </b>Wifi based Human Fall Detection System<h4>
                      <h4 style="font-family:Georgia, serif;"><b>Email: </b>gise@mail.sfsu.edu<h4>
                      </div>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>



                      <div class="col-sm-3"><img src="images/nise.png" alt="House"height="150" width="300" style="width:70%;"></div>
                      <div class="col-lg-8" style="font-family:Georgia, serif;"><h4 style="font-family:Georgia, serif;"><br><b>Name:</b> Aishwarya Laturkar <h4>
                        <h4 style="font-family:Georgia, serif;"><b>Title: </b>Master Student<h4>
                        <h4 style="font-family:Georgia, serif;"><b>Research Project: </b>Wifi based Human Fall Detection System<h4>
                        <h4 style="font-family:Georgia, serif;"><b>Email: </b>alaturkar@mail.sfsu.edu<h4>
                        </div>



                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>


                <div class="col-sm-3"><img src="images/nise.png" alt="House"height="150" width="300" style="width:70%;"></div>
                <div class="col-lg-8" style="font-family:Georgia, serif;"><h4 style="font-family:Georgia, serif;"><br><b>Name:</b> Richa Nahar <h4>
                  <h4 style="font-family:Georgia, serif;"><b>Title: </b>Master Student<h4>
                  <h4 style="font-family:Georgia, serif;"><b>Research Project: </b>Machine Learning<h4>
                  <h4 style="font-family:Georgia, serif;"><b>Email: </b> rnahar@mail.sfsu.edu<h4>
                  </div>



                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>



          <div id="about">
            <h3 style="padding-bottom: 10px;font-family: Arial, sans-serif;font-size: 25px;"><b>Alumini</b></h3>
            <div class="col-sm-3"><img src="images/nise.png" alt="" style="width:50%;"></div>
            <div class="col-lg-18">
              <h4 style="font-family:Georgia, serif;"><br><b>Name:</b><h4>
              <h4 style="font-family:Georgia, serif;"><b>Research Area:</b><h4>
              <h4 style="font-family:Georgia, serif;"><b>Graduate/ Undergraduate:</b><h4>
              <h4 style="font-family:Georgia, serif;"><b>Email:</b><h4>
          </div>

          <br>
          <br>

          </div>
          <br>
          </div>
          </div>

          <!-- Footer -->
          <footer class="w3-container w3-highway-blue w3-center">
            <p style="font-family:Georgia ,serif ; font-size: 20px; padding-top: 3px;padding-right: 16px;padding-bottom: 3px;padding-left: 16px;  width:100%;
            height:30px;  ">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
          </footer>

</body>
</html>
