<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none"><b>NISE LAB</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 10%;">
      <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
      <font size="3">

        <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
        <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Research</a>
        <a href="project" class="w3-bar-item w3-button" style="text-decoration:none">Projects</a>
        <a href="teaching" class="w3-bar-item w3-button" style="text-decoration:none">Teaching</a>
        <a href="services" class="w3-bar-item w3-button" style="text-decoration:none">Services</a>
        <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
    </div>
  </div>
</div>
<br>

<div id="about" style="padding-left: 70px;padding-right: 100px;">
  <h3><b>Projects</b></h3><hr> <br>
  <div class="col-sm-3"><img src="images/nise.png" alt="House" style="width:70%;"></div>
  <div class="col-lg-8" style="font-size: 20px"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.</p></div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



  <div class="col-sm-3"><img src="images/nise.png" alt="" style="width:50%;"></div>
  <div class="col-lg-8" style="font-size: 20px"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <footer class="w3-center w3-highway-blue w3-padding-16">
      <p style="font-family:Arial ,Sans-serif">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
    </footer>

</body>
</html>
