<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">

<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}
h3{
    font-size: 20px;
}
h2{
  font-family: Georgia, serif;
}

</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10% ;text-decoration:none">NISE LAB</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 5%;">
      <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
      <font size="3">
        <a href="home" class="w3-bar-item w3-button" style="text-decoration:none">Home</a>
        <a href="people" class="w3-bar-item w3-button" style="text-decoration:none">People</a>
        <a href="project" class="w3-bar-item w3-button" style="text-decoration:none">Projects</a>
        <a href="research" class="w3-bar-item w3-button" style="text-decoration:none">Publications</a>
        <a href="gallery" class="w3-bar-item w3-button" style="text-decoration:none">Gallery</a>
        </font>
    </div>
  </div>
</div>

<br>

<div style="padding-left: 70px;padding-right: 100px; font-size: 20px;">
<h3 style="margin-left: 1% ; font-size: 25px;padding-top: 0px;"><b>Journal Publication</b></h3><hr>
<ol style="font-size: 18px;font-family: Georgia, serif;padding-bottom: 10px;">
  <li style="padding-bottom: 10px;">Qinghua Gao, Jie Wang, Liming Zhang, Hao Yue, Bin Lin, and Hongyu Wang, “Device-free Activity Recognition Based on Coherence Histogram,” accepted for publication in IEEE Transactions on Industrial Informatics</li>
  <li style="padding-bottom: 10px;">Jie Wang, Xiao Zhang, Qinghua Guo, Hao Yue, and Hongyu Wang, “Device-free Wireless Localization and Activity Recognition: A Deep Learning Approach,” IEEE Transactions on Vehicular Technology (TVT), vol. 66, no. 7, pp. 6258-6267, July 2017.</li>
  <li style="padding-bottom: 10px;">Kaiping Xue, Yingjie Xue, Jianan Hong, Wei Li, Hao Yue, David S. L. Wei, and Peilin Hong, “RAAC: Robust and Auditable Access Control with Multiple Attribute Authorities for Public Cloud Storage,” IEEE Transactions on Information Forensics and Security (TIFS), vol. 12, no. 4, pp. 953-967, April 2017.</li>
  <li style="padding-bottom: 10px;">Jie Wang, Hao Yue, Long Hai, and Yuguang Fang, “Spectrum-Aware Anypath Routing in Multi-hop Cognitive Radio Networks,” IEEE Transactions on Mobile Computing (TMC), vol. 16, no. 4, pp. 1176-1187, April 2017.</li>
  <li style="padding-bottom: 10px;">Jinlin Peng, Hao Yue, Peilin Hong, Kaiping Xue, and Yuguang Fang, “Energy-Aware Scheduling for Multi-Hop Cognitive Radio Networks,” IEEE Transactions on Cognitive Communications and Networking (TCCN), vol. 2, no. 4, pp. 397-410, December 2016.</li>
  <li style="padding-bottom: 10px;">Jianqing Liu, Haichuan Ding, Ying Cai, Hao Yue, Yuguang Fang and Shigang Chen, “An Energy-Efficient Strategy for Secondary Users in Cooperative Cognitive Radio Networks for Green Communications,” IEEE Journal on Selected Areas in Communications (JSAC), vol. 34, no. 12, pp. 3195-3207, December 2016.</li>
  <li style="padding-bottom: 10px;">Pengbo Si, Hao Yue, Yanhua Zhang, and Yuguang Fang, “Spectrum Management for Proactive Video Caching in Information-Centric Cognitive Radio Networks,” IEEE Journal on Selected Areas in Communications (JSAC), vol. 34, no. 8, pp. 2247-2259, June 2016.</li>
  <li style="padding-bottom: 10px;">Linke Guo, Chi Zhang, Hao Yue, and Yuguang Fang, “PSaD: A Privacy-preserving Social-assisted Content Dissemination Scheme in DTNs,” IEEE Transactions on Mobile Computing (TMC), vol. 13, no. 12, pp. 2903-2918, December 2014.</li>
  <li style="padding-bottom: 10px;">Yan Long, Hongyan Li, Hao Yue, Miao Pan, and Yuguang Fang, “SUM: Spectrum Utilization Maximization in Energy-Constrained Cooperative Cognitive Radio Networks,” IEEE Journal on Selected Areas in Communications (JSAC), vol. 32, no. 12, pp. 2105-2116, November 2014.</li>
  <li style="padding-bottom: 10px;">Hao Yue, Linke Guo, Ruidong Li, Hitoshi Asaeda, and Yuguang Fang, “DataClouds: Enabling Data-Centric Services over Internet of Things,” (Invited paper), IEEE Internet of Things Journal, vol. 1, no. 5, pp. 472-482, October 2014.</li>
  <li style="padding-bottom: 10px;">Hao Yue, Chi Zhang, Miao Pan, Yuguang Fang, and Shigang Chen, “Unknown-target Information Collection in Sensor-enabled RFID Systems,” IEEE/ACM Transactions on Networking (TON), vol. 22, no. 4, pp. 1164-1175, August 2014.</li>
  <li style="padding-bottom: 10px;">Huai-Lei Fu, Phone Lin, Hao Yue, and Guan-Ming Huang, “Group Mobility Management for Large-scale Machine-to-Machine Mobile Networking,” IEEE Transactions on Vehicular Technology (TVT), vol. 63, no. 3, pp. 1296-1305, March 2014.</li>
  <li style="padding-bottom: 10px;">Miao Pan, Hao Yue, Chi Zhang, and Yuguang Fang, “Path Selection under Budget Constraints in Multi-hop Cognitive Radio Networks,” IEEE Transactions on Mobile Computing (TMC), vol. 12, no. 6, pp. 1133-1145, June 2013.</li>
  <li style="padding-bottom: 10px;">Hao Yue, Miao Pan, and Yuguang Fang, “Spectrum and Energy Efficient Relay Station Placement in Cognitive Radio Networks,” IEEE Journal on Selected Areas in Communications (JSAC), vol. 31, no. 5, pp. 883-893, May 2013.</li>
  <li style="padding-bottom: 10px;">Miao Pan, Hao Yue, and Yuguang Fang, “The X Loss: Band-Mix Selection for Opportunistic Spectrum Accessing with Uncertain Supply from Primary Service Providers,” IEEE Transactions on Mobile Computing (TMC), vol.11, no.12, pp.2133-2144, December 2012.</li>
  <li style="padding-bottom: 10px;">Xiaoyan Zhu, Hao Yue, Yuguang Fang and Yumin Wang, “A Batched Network Coding Scheme for Wireless Networks,” ACM Wireless Networks, vol.15, no.8, pp.1152-1164, November 2009.</li>
</ol>


<h3 style="margin-left: 1% ; font-size: 25px;padding-top: 0px;"><b>Conference Publications</b></h3><hr>
<ol style="font-size: 18px;font-family: Georgia, serif;padding-bottom: 10px;">
<li style="padding-bottom: 10px;">Michael Lee*, Jie Wang, Hongning Li, Feng Ye, and Hao Yue, “Reader Scheduling for Information Collection in Large-scale RFID Systems,” The IEEE Vehicular Technology Conference (VTC-2018 Fall), Chicago, IL, August 27-30, 2018.   </li>
<li style="padding-bottom: 10px;">Kaiping Xue, Xiang Zhang, Qiudong Xia, David Wei, Hao Yue, and Feng Wu, “SEAF: A Secure, Efficient and Accountable Access Control Framework for Information Centric Networking,” The IEEE International Conference on Computer Communications (INFOCOM 2018), Honolulu, HI, April 15-19, 2018.</li>
<li style="padding-bottom: 10px;">Jiangping Han, Kaiping Xue, Hao Yue, Peilin Hong, Nenghai Yu, and Fenghua Li, “Receive Buffer Pre-division Based Flow Control For MPTCP,” The 13th IEEE International Conference on Mobile Ad-hoc and Sensor Networks (MSN 2017), December 17-20, 2017. (Best Paper Award)</li>
<li style="padding-bottom: 10px;">Chengbao Cao, Kaiping Xue, Hao Yue, and Junjie Xu, “FRD: Fragment Forwarding and Reassembly Decoupling Based Chunk Transmission in NDN,” The International Conference on Wireless Communications and Signal Processing (WCSP 2017), Nanjing, China, October 11-13, 2017.</li>
<li style="padding-bottom: 10px;">Junjie Xu, Kaiping Xue, Chengbao Cao, and Hao Yue, “Incentive Cooperative Caching for Localized Information-Centric Networks,” The International Conference on Wireless Communications and Signal Processing (WCSP 2017), Nanjing, China, October 11-13, 2017.</li>
<li style="padding-bottom: 10px;">Yansen Wang, Kaiping Xue, Hao Yue, Jiangping Han, Qing Xu, and Peilin Hong, “Coupled Slow-Start: Improving the Efficiency and Friendliness of MPTCP ’s Slow Start,” The IEEE Global Communications Conference (GLOBECOM 2017), Singapore, December 4-8, 2017.</li>
<li style="padding-bottom: 10px;" style="padding-bottom: 10px;">Xiang Zhang, Lijie Zhou*, Shaohua Li, Kaiping Xue, and Hao Yue, “Privacy-Preserving Power Request and Trading by Prepayment in Smart Grid,” The IEEE International Conference on Communications in China (ICCC 2017), Qingdao, China, October 22-24, 2017.</li>
<li style="padding-bottom: 10px;">Qingyou Yang, Jianan Hong, Kaiping Xue, Weikeng Chen, Xiang Zhang, and Hao Yue, “A Privacy-Preserving and Read-Time Traceable Power Request Scheme for Smart Grid,” The IEEE International Conference on Communications (ICC 2017), Paris, France, May 21-25, 2017.</li>
<li style="padding-bottom: 10px;">Jie Wang, Xueyan Feng, Qinghua Gao, Hao Yue, and Yuguang Fang, “Context Awareness with Ambient FM Signal Using Multi-domain Features,” The IEEE Global Communications Conference (GLOBECOM 2016), Washington, DC, December 4-8, 2016.</li>
<li style="padding-bottom: 10px;">Jianqing Liu, Chi Zhang, Haichuan Ding, Hao Yue, and Yuguang Fang, “Policy-based Privacy-Preserving Scheme for Primary Users in Database-driven Cognitive Radio Networks,” The IEEE Global Communications Conference (GLOBECOM 2016), Washington, DC, December 4-8, 2016.</li>
<li style="padding-bottom: 10px;">Haichuan Ding, Hao Yue, Jianqing Liu, Pengbo Si, and Yuguang Fang, “Energy-Efficient Secondary Traffic Scheduling with MIMO Beamforming,” The IEEE Global Communications Conference (GLOBECOM 2015), San Diego, GA, December 6-10, 2015.</li>
<li style="padding-bottom: 10px;">Jianqing Liu, Hao Yue, Haichuan Ding, Pengbo Si, and Yuguang Fang, “An Energy-Efficient Cooperative Strategy for Secondary Users in Cognitive Radio Networks,” The IEEE Global Communications Conference (GLOBECOM 2015), San Diego, GA, December 6-10, 2015.</li>
<li style="padding-bottom: 10px;">Kaihe Xu, Hao Yue, Linke Guo, Yuanxiong Guo, and Yuguang Fang, “Privacy-preserving Machine Learning Algorithms for Big Data Systems,” The 35th International Conference on Distributed Computing Systems (ICDCS 2015), pp. 318-327, Columbus, Ohio, June 29-July 2, 2015. (Acceptance ratio: 70/543 = 12.89%)</li>
<li style="padding-bottom: 10px;">Yan Long, Hongyan Li, Hao Yue, Miao Pan, and Yuguang Fang, “Spectrum Utilization Maximization in Energy Limited Cooperative Cognitive Radio Networks,” The IEEE International Conference on Communications (ICC 2014), pp. 1466-1471, Sydney, Australia, June 10-14, 2014. (Acceptance ratio: 995/2608 = 38.15%)</li>
<li style="padding-bottom: 10px;">Hao Yue, Huai-Lei Fu, Linke Guo, Yuguang Fang, and Phone Lin, “An Efficient Prediction-based Routing Protocol in Delay Tolerant Networks,” The IEEE Global Communications Conference (GLOBECOM 2013), pp. 4471-4476, Atlanta, GA, December 9-13, 2013. (Acceptance ratio: 841/2272 = 37.01%)</li>
<li style="padding-bottom: 10px;">Linke Guo, Chi Zhang, Hao Yue, and Yuguang Fang, “A Privacy-preserving Social-assisted Mobile Content Dissemination Scheme in DTNs,” The 32nd IEEE International Conference on Computer Communications (INFOCOM 2013), pp. 2301-2309, Turin, Italy, April 14-19, 2013. (Acceptance ratio: 280/1613 = 17.36%)</li>
<li style="padding-bottom: 10px;">Hao Yue, Xiaoyan Zhu, Chi Zhang, and Yuguang Fang, “CPTT: A High-throughput Coding-aware Routing Metric for Multi-hop Wireless Networks,” The IEEE Global Communications Conference (GLOBECOM 2012), pp. 5687-5692, Anaheim, CA, December 3-7, 2012. (Acceptance ratio: 966/2560 = 37.73%)</li>
<li style="padding-bottom: 10px;">Xiaobin Tan, Hao Yue, Yuguang Fang, and Wenfei Cheng, “Greedy Strategy for Network Coding Based Reliable Broadcast in Wireless Mesh Networks,” The IEEE Global Communications Conference (GLOBECOM 2012), pp. 5627-5632, Anaheim, CA, December 3-7, 2012. (Acceptance ratio: 966/2560 = 37.73%)</li>
<li style="padding-bottom: 10px;">Miao Pan, Yan Long, Hao Yue, Yuguang Fang, and Hongyan Li, “Multicast Throughput Optimization and Fair Spectrum Sharing in Cognitive Radio Networks,” The IEEE Global Communications Conference (GLOBECOM 2012), pp. 1085-1089, Anaheim, CA, December 3-7, 2012. (Acceptance ratio: 966/2560 = 37.73%)</li>
<li style="padding-bottom: 10px;">Miao Pan, Hao Yue, Pan Li, and Yuguang Fang, “Throughput Maximization of Cooperative Wireless Mesh Networks Using Directional Antennas,” The IEEE International Conference on Communications in China (ICCC 2012), pp. 709-714, Beijing, China, August 15-18, 2012.</li>
<li style="padding-bottom: 10px;">Hao Yue, Chi Zhang, Miao Pan, Yuguang Fang, and Shigang Chen, “A Time-efficient Information Collection Protocol for Large-scale RFID Systems,” The 31th IEEE International Conference on Computer Communications (INFOCOM 2012), pp. 2158-2168, Orlando, FL, March 25-30, 2012. (Acceptance ratio: 278/1547 = 17.97%)</li>
<li style="padding-bottom: 10px;">Hao Yue, Miao Pan, Rongsheng Huang, Hongxia Zhao, and Yuguang Fang, “LIP: A Light-weighted Session-based Incentive Protocol for Multi-hop Cellular Networks,” The IEEE Global Communications Conference (GLOBECOM 2011), pp. 1-5, Houston, TX, December 5-9, 2011. (Acceptance ratio: 1070/2923 = 36.61%)</li>
<li style="padding-bottom: 10px;">Miao Pan, Hao Yue, Yuguang Fang, and Hongyan Li, “The X Loss: Band-mix Selection with Uncertain Supply for Opportunistic Spectrum Accessing,” The IEEE Global Communications Conference (GLOBECOM 2010), pp. 1-5, Miami, FL, December 6-10, 2010. (Acceptance ratio: 1070/2923 = 36.61%)</li>
<li style="padding-bottom: 10px;">Miao Pan, Hao Yue, Yuguang Fang, and Phone Lin, “A Return and Risk Model for Efficient Spectrum Sharing in Cognitive Radio Networks,” The IEEE 71st Vehicular Technology Conference (VTC 2010: Spring), pp. 1-5, Taipei, Taiwan, May 16-19, 2010. (Acceptance ratio: 423/1164 = 36.34%)</li>

</ol>
</div >


<!-- Footer -->
<footer class="w3-container w3-highway-blue w3-center">
  <p style="font-family:Georgia ,serif ;font-size: 20px; padding-top: 3px;padding-right: 16px;padding-bottom: 3px;padding-left: 16px;  width:100%;
  height:10px;">Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
</footer>

</body>
</html>
