<!DOCTYPE html>
<html>
<title>NISE LAB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
<style>
#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    float: left;
}
#second {
    float: right;
}
body{
  font-size: 20px;
  font-family: Georgia, serif;
}
h3{
  font-family: Georgia, serif;
}
h2{
  font-family: Georgia, serif;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-highway-blue">
  <div class="w3-bar w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button" style="margin-left: 10%;"><b>NISE LAB</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="margin-left: 15%;margin-right: 10%;">
      <!-- <a href="haoyue" class="w3-bar-item w3-button">Dr. Hao Yue </a> -->
      <font size="3">

      <a href="people" class="w3-bar-item w3-button">People</a>
      <a href="research" class="w3-bar-item w3-button">Research</a>
      <a href="project" class="w3-bar-item w3-button">Projects</a>
      <a href="teaching" class="w3-bar-item w3-button">Teaching</a>
      <a href="services" class="w3-bar-item w3-button">Services</a>
      <a href="gallery" class="w3-bar-item w3-button">Gallery</a>
    </div>
  </div>
</div>
<br>
<div style="padding-left: 70px;padding-right: 100px">
<h3><b>Services</b></h3><hr>
<ul style="padding-left: 50px;font-size: 20px;">
  <li>Member of San Francisco Blue Ribbon Panel on Municipal Fiber Subcommittee, 2017</li>
  <li>Vice Chair of IEEE San Francisco Section, February 2018 - Present</li>
  <li>Vice Chair of IEEE San Francisco Section, February 2018 - Present</li>
  <li>Guest Editor for</li>
  <p style="padding-left: 50px;padding-right: 130px">- Special Issue on “A Breakthrough in Multi-hop Wireless Multimedia Sensor Networking Protocols”, International Journal of Distributed Sensor Networks (IJDSN), 2016.</p>
  <li>Member of the Technical Program Committee for</li>
  <div>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Wireless Communications and Networking Conference (WCNC 2019), Marrakech, Morocco, April 15-18, 2019.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE International Conference on Computing, Networking and Communications (ICNC 2019), Honolulu, Hawaii, February 18-21, 2019.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE International Conference on Computing, Networking and Communications (ICNC 2018), Maui, Hawaii, February 18-21, 2019.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE International Conference on High Performance Computing and Communications (HPCC 2018), Exeter, England, UK, June 28-30, 2018.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE International Conference on Computing, Networking and Communications (ICNC 2018), Maui, Hawaii, March 5-8, 2018.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE International Conference on Communications in China (ICCC 2017), Qingdao, China, October 22-24, 2017.</p>
    <p style="padding-left: 50px;padding-right: 130px">- International Conference on Networking and Network Applications (NaNA 2016), Hakodate City, Japan, July 13-15, 2016.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Wireless Communications and Networking Conference (WCNC 2016), Doha, Qatar, April 3-6, 2016.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Global Communications Conference (GLOBECOM 2015), San Diego, CA, December 6-10, 2015.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE/SAE/ACM/IFAC International Conference on Connected Vehicles & Expo (ICCVE 2015), Shenzhen, China, October 19-23, 2015.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Wireless Communications and Networking Conference (WCNC 2015), New Orleans, LA, March 9-12, 2015.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Global Communications Conference (GLOBECOM 2014), Austin, Texas, December 8-12, 2014.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE/SAE/ACM/IFAC International Conference on Connected Vehicles & Expo (ICCVE 2014), Messe Wien, Austria, November 3-7, 2014.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Wireless Communications and Networking Conference (WCNC 2014), Istanbul, Turkey, April 6-9, 2014.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE/SAE/ACM/IFAC International Conference on Connected Vehicles & Expo (ICCVE 2013), Las Vegas, NV, December 2-6, 2013.</p>
    <p style="padding-left: 50px;padding-right: 130px">- IEEE Wireless Communications and Networking Conference (WCNC 2013), Shanghai, China, April 7-10, 2013.</p>


  </div>

</ul>
</div>





<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="w3-center w3-highway-blue  w3-padding-16">
  <p>Contact Us: Science 383, San Francisco State University, SF, CA 94132</p>
</footer>
</body>
</html>
